.jumbotron {
    background-color: #156711;
    color: black;
    font-family: monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#employee-table th, td {
  display: inline-block;
  width: 16.575%;
}
table#strain-table tr td:last-child,
table#strain-table tr th:last-child {
  text-align: right;
}
table#strain-table tr td:last-child img{
  width: 200px;
  height: 200px;
}
body {
  background:url(../images/bg.jpg.jpg);  
}